env:
  DB_USER: postgres
  DB_PASSWORD: postgres
  DB_NAME: postgres

name: CI/CD
on: [push]

jobs:
  lint:
    name: Code style checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: poetry

      - name: Install Python dependencies
        run: poetry install

      - name: Run all linters
        uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all

  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13.4-alpine
        env:
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
        ports: ["6666:6666"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
          cache: poetry

      - name: Install Python dependencies
        run: poetry install

      - name: Running alembic version upgrade
        run: |
          make migrations

      - name: pytest Check
        run: make pytest
        env:
          POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }}
